@model IEnumerable<ArticleManagement.Areas.Admin.Models.CategoryModel>
@{
    ViewBag.Title = "បញ្ជីព័ត៌មានប្រភេទអត្ថបទ";
}
    <!-- Header Section -->
    <h2>បញ្ជីព័ត៌មានប្រភេទអត្ថបទ</h2>
    <!-- Filter Section -->
    <label for="txtSearch">ស្វែងរក: </label>
    <input type="text" id="txtSearch" class="form-control"​/>
    <div class="col-lg-2">
        <a href="/admin/categories/create" id="btnCreate" class="btn btn-primary form-control" style="margin:5px 0px;">បន្ថែមថ្មី</a>
    </div>
    <!-- Content Section -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width:10%">លេខសំគាល់</th>
                <th style="width:20%">ប្រភេទ</th>
                <th style="width:20%">បរិយាយ</th>
                <th style="width:15%">អ្នកសរសេរ</th>
                <th style="width:15%">បង្កើតនៅ</th>   
                <th style="width:20%;"></th>
            </tr>            
        </thead>
        <tbody id="TABLE_BODY">
            @foreach(var item in Model)
            {
            <tr id="@item.Id">
                <td>@Html.DisplayFor(model=>item.Id)</td>
                <td>@Html.DisplayFor(model=>item.Name)</td>
                <td>@Html.DisplayFor(model=>item.Description)</td>
                <td>@Html.DisplayFor(model=>item.ByUser.LastName) @Html.DisplayFor(model=>item.ByUser.FirstName)</td>
                <td>@Html.DisplayFor(model=>item.Ondate)</td>
                <td>
                    @Html.ActionLink("កែប្រែ", "update", new{id=item.Id},new { @class = "btn btn-primary" })
                    <a id='btnDelete' class='btn btn-primary'>លុប</a>
                    @Html.ActionLink("លំអិត", "details", new{id=item.Id},new { @class = "btn btn-primary" })
                   <!-- <button id="btnUpdate" class="btn btn-primary">Update</button>
                    <button id="btnDelete" class="btn btn-danger">Delete</button>
                    <button id="btnDetails" class="btn btn-success">Details</button>-->
                </td>
            </tr>
            }
        </tbody>
    </table>
@* 
  <!--Pagination Section-->
    <nav>
        <ul class="pagination">
            <li class="disabled">
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">រំកិលថយក្រោយ</span>
                </a>
            </li>
            <li class="active">
                <a href="#">១
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li>
                <a href="#">២
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li>
                <a href="#">៣ 
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li>
                <a href="#">៤ 
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">រំកិលទៅមុខ</span>
                </a>
            </li>
        </ul>
    </nav>
*@
@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#txtSearch").keyup(function () {
                $.ajax({
                    type: "POST",
                    url: "categories/search",
                    data: { "Search": $("#txtSearch").val() },
                })
                .success(function (responseData) {
                    console.log(responseData);
                    var rows = "";
                    for (var i = 0; i < responseData.CATEGORIES.length; i++) {
                        rows += "<tr id=" + responseData.CATEGORIES[i].Id + ">" +
                                  "<td>" + responseData.CATEGORIES[i].Id + "</td>" +
                                  "<td>" + responseData.CATEGORIES[i].Name + "</td>" +
                                  "<td>" + responseData.CATEGORIES[i].Description + "</td>" +
                                  "<td>" + responseData.CATEGORIES[i].ByUser.LastName +" "+ responseData.CATEGORIES[i].ByUser.FirstName+ "</td>" +
                                  "<td>" + responseData.CATEGORIES[i].OnDate + "</td>" +
                                  "<td><a id='btnUpdate' class='btn btn-primary' href='categories/update/" + responseData.CATEGORIES[i].Id + "'>កែប្រែ</a>" +
                                  "    <a id='btnDelete' class='btn btn-primary'>លុប</a>" +
                                  "    <a id='btnDetails' class='btn btn-primary' href='categories/details/" + responseData.CATEGORIES[i].Id + "'>លំអិត</a>" +
                                  "</td>" +
                                  "</tr>";
                    }
                    if (rows != "" || rows != null) {
                        $("#TABLE_BODY").html(rows);
                    }
                })
                .error(function (responseError) {
                    alert("Your searching is error..." + responseError.statusText);
                });
            });

            $(document).on("click", "#btnDelete", function () {
                var id = $(this).parent("td").parent("tr").attr("id");
                $.ajax({
                    type: "POST",
                    url: "categories/delete/" + id,

                })
                .success(function (responseData) {
                    if (responseData.MESSAGE == "1") {
                        $("tr#"+id).remove();
                        alert("You have been deleted!!!");
                    } else {
                        alert("Cannot delete!!!");
                    }
                });
            });
        });
    </script>
}
